body {
    background-color: #EFEFEF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #333333;
}

hr{
    border: none;
    background-color: #EFEFEF;
    height: 1px;
    
    }
/* .wrapper{
    max-width: 1110px;
    padding-left: 13px;
    padding-right: 117px;
    margin: 0 auto;
} */

.wrapper{
    max-width: 1110px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.nav {
    display: flex;
    list-style-type: none;
    justify-content:center;
    padding: 7px 0;
}

.nav > li {
    margin-bottom: -3px;
    margin-right: 15px;


}

.nav > li > a {
    text-decoration: none;
    color: #333333;
    margin-left: 16px;
}
.header {
    background-color: #fff;
    /* margin-bottom: -70px */
}
.header_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px 0px 12px 0px;
}
.logo{
    font-weight: 700;
    font-size: 36px;
    color: #66C05D;
    display: flex;
    align-items: center;
    letter-spacing: 4px

}

.logo_image {
    display: block;
    width: 80px;
    height: 80px;
    background-image: url(../img/logo.svg);
    margin-right: 20px;

}

.header_info span{
    font-size: 16px;
}

.header_info button{
    border: 2px solid #66C05D;
    border-radius: 20px;
    font-size: 14px;
    padding: 10px 25px;
    background-color: transparent;
    margin-left: 36px;
    margin-bottom: 8px;
    margin-right: -1px;
    transition: 0.2s ease;
    cursor: pointer;
}
.header_info button:hover{
    background-color: #66C05D;
}
.header_buttom .nav {
    font-size: 16px;
    margin:0;
}

.header_buttom .nav  > li {
    margin-bottom: 20px;
    margin-right: 25px;
}
.header_buttom {
    padding: 12px 0 5px 0;
    margin-left: 13px;
}
/* .banner {
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-bottom: 397px;
    color: #fff;

} */
.banner {
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 161px;
    padding-bottom: 203px;
    color: #fff;

}

.banner p{
    margin-bottom: 56PX;
    max-width: 315px;
    font-size: 14px;
    line-height: 1.5;
    padding-top: 6px;
    margin-left: 1px;

}
.title{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 29px;
}


.btn{
    color: #fff;
    border: 2px solid #fff;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 10px 48px;
    text-decoration: none;
    font-size: 14px;
    transition: 0.2s ease;
}
.btn:hover{
    background-color: #fff;
    color:#333333
}
.bg_white{
    background-color: #fff;
    
}
.calatoge{
    padding-top: 60px;
    padding-bottom: 108px;
}
.grid_item_catalog .bg_white {
    padding: 23px 30px 34px 30px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 19px 31px;
}
.grid_item_catalog{
    text-align: center;
}

.grid-item-catalog .bg-white{
    padding: 23px 30px 34px 30px;
}

.grid_item_title{
    grid-column: 1/4;
    grid-row: 1/2
}

.grid_item_img{
    grid-column: 4/5;
    grid-row: 1/2;
    text-align: center;
}

.grid_item_left {
    grid-column: 1/3;
    grid-row: 3/4;
    margin-top: 80px;
}
.grid_item_rigth {
    grid-column: 3/5;
    grid-row: 3/4;
    margin-top: 80px;
}
.title_h2{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 24px;
}

.thumb {
    margin-bottom: 14px;
}
.grid_button {
    border-radius: 20px;
    font-size: 14px;
    padding: 9px 41px;
    background-color: #66C05D;
    color: #fff;
    text-decoration: none;
    transition: 0.2s ease;
    cursor: pointer
}
.grid_button:hover {
    border: 2px solid #66C05D;
    background-color: #fff;
    color: #333333;
}
.grid_title{
 font-size: 14px;
 font-weight: 400;
 line-height: 1.5;
 margin-bottom: 0;
}
.grid_price {
    font-size: 21px;
    font-weight: 500;
    margin-top: 14px;
    letter-spacing: 1px;
    margin-bottom: 25px;
}

.bg_green{
    background-color: #66C05D;
    color: #fff;
    padding: 35px 41px;
    display: flex;
    justify-content: space-between;
}
.bg_green_item{
    flex: 0 0 55%;
}
.bg_green_img{
    flex: 0 0 40%;
    text-align: center;
}
.bg_green h3 {
    font-size: 18px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 20px;
}
.bg_green p {
    line-height: 1.5;
    margin-bottom: 24px;
}

.bg_green .btn {
    display: block;
    text-align: center;
    max-width: 166px;
    padding: 8px 0;
    margin-bottom: 2px;
} 
.bg_green_img {
    flex: 0 0 31%;
    text-align: center;
}
.bg_green input{
    font-size: 14px;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 9px 15px;
    width: 100%;
    max-width: 225px;
    box-sizing: border-box;

}
.footer_bottom{
    display: flex;
    justify-content: space-between;
    color: #828282;
    padding: 8px;
    padding-right: 289px;
    padding-left: 288px;
}

.footer_bottom p{
    margin: 0;
    font-size: 12px;
}
.footer_bottom a{
    font-size: 12px;
    text-decoration:none ;
    color:#828282;
}

.footer_info button{
    font-size: 14px;
    border-radius: 20px;
    border: 2px solid #66C05D;
    background-color: transparent;
    padding: 10px 25px;
    margin-left: 36px;
    transition: 0.2s ease;
    cursor: pointer;
}
.footer_info button:hover{
    background-color: #66C05D;
}

.footer_info span{
    font-size: 16px;
    margin-left: 36px;
    margin-right: 68px;
    padding-top: 16px;
    
}

.footer_info :first-child{
    /* font-size: 14px;
    margin-left: 36px; */
    font-size: 14px;
     margin-left: 60px;
}

.footer_info {
    display: flex;
    align-items: center;
    margin-right: -185px;
    margin-top: -13px;
}
.social {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-left: -75px;
  
}
.social_item {
    margin-right: 20px;
    /* margin-right: 22px;
    margin-top: 4px; */
}

.social_link {
    display: block;
    width: 40px;
    height: 40px;
    border: 2px solid #66C05D;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}
.footer_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4px;
padding-bottom: -79px;
margin: 20px;
    /* padding-top: 25px;
    padding-bottom: 13px; */
}
.social_youtube{
background-image: url(../img/youtube.svg);
}

.social_vk{
    background-image: url(../img/VK.svg);
}
.social_face{
    background-image: url(../img/facebook.svg);
}
.social_insta{
    background-image: url(../img/insta.svg);
}

